.ui-datepicker {
    margin-top: 1rem;
    padding: 1rem;
}

.ui-widget {
    font-family: 'Montserrat Custom', sans-serif;
}

.ui-widget-content {
    border: 1px solid #FF7819 !important;
    background: #1C1C1C;
    color: #ffffff;
}

.ui-corner-all {
    border-radius: 1rem !important;
}

.ui-widget-header {
    border: none;
    background: none;
    color: #ffffff;
    font-weight: normal;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
    border-radius: 0.2rem;
    background: #2B2C2E;
    font-weight: normal;
    color: #ffffff;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #4F4F4F;
    color: #FF7819;
}

.ui-datepicker td span, .ui-datepicker td a {
    padding: 0 0.4rem;
    text-align: center;
}

.ui-datepicker-prev span {
    background-image: url(https://uploads-ssl.webflow.com/626045a016f5876d0cf83a9f/626045a016f5879967f83cc6_Icon-Arrow-Left.svg) !important;
    background-position: 0px 0px !important;
		background-size: contain !important;
}

.ui-datepicker-next span {
    background-image: url(https://uploads-ssl.webflow.com/626045a016f5876d0cf83a9f/626045a016f58733dcf83ccb_Icon-Arrow-Right.svg) !important;
    background-position: 0px 0px !important;
    background-size: contain !important;
}

.ui-datepicker-prev-hover, .ui-datepicker-next-hover {
	background: #2B2C2E !important;
  border: none !important;
  color: #ffffff !important;
}

.ui-datepicker-prev-hover {
	left: 2px !important;
  top: 2px !important;
}

.ui-datepicker-next-hover {
	right: 2px !important;
    top: 2px !important;
}

.ui-widget-content .ui-state-hover {
    background: #4F4F4F !important;
}

.ui-datepicker select {
    background-color: #1C1C1C !important;
    border: none !important;
    text-align: center !important;
}